<!DOCTYPE html>
{% load static %}
<html lang="ko" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Plan Your Travel | 당신의 다음 여행지</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/blog/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/blog/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/blog/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/blog/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../static/blog/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../static/blog/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="{% static 'blog/vendors/prism/prism.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'blog/assets/css/user.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500;700&display=swap" rel="stylesheet">
    <style>t{
      font-family: 'Noto Sans KR', sans-serif;
    }
    </style>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="cursor-outer d-none d-md-block"></div>
      <nav class="navbar navbar-light py-3 px-0 overflow-hidden">
        <div class="container px-md-5">
          <div class="row w-100 g-0 justify-content-between">
            <div class="col-8">
              <div class="d-inline-block"><a class="navbar-brand pt-0 fs-3 text-black d-flex align-items-center" href="/"><img class="img-fluid" src="../../static/single_pages/assets/img/icons/logo2.png" alt="" /><span class="fw-bolder ms-2">1</span><span class="fw-thin">der</span></a></div>
              <div class="mt-4 d-none d-lg-block">
                <h1 class="text-uppercase fs-lg-7 fs-5 fw-bolder text-300 lh-1 position-relative z-index-0">1der Forums</h1>
                <h1 class="d-none d-md-block fw-bolder text-outlined fs-7 text-white lh-1 mt-n4 position-relative z-index--1">Places To Go</h1>
              </div>
            </div>
            <div class="col-4 d-lg-none text-end pe-0">
              <button class="btn p-0 shadow-none text-black fs-2 d-inline-block" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle offcanvas navigation"><span class="menu-bar"></span></button>
            </div>
            <div class="offcanvas offcanvas-end px-0" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasTitle" aria-hidden="true">
              <div class="offcanvas-header justify-content-end">
                <h5 class="visually-hidden offcanvas-title" id="navbarOffcanvasTitle">Menu</h5>
                <button class="btn p-0 shadow-none text-black fs-2 d-inline text-end" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="menu-close-bar"></span></button>
              </div>
              <div class="offcanvas-body px-0">
                <div class="d-lg-flex flex-center-start gap-3 overflow-hidden">
                  <ul class="navbar-nav ms-auto fs-4 ps-6">
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/blog/places/">1der Places</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5 active" aria-current="page" href="/blog/forums/">Plan Your Travel</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/blog/community/">Community</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/blog/gallery/">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/about/">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-none d-lg-flex justify-content-end position-relative z-index-1">
                <div class="position-absolute absolute-centered z-index--1">
                  <h1 class="ms-2 fw-bolder text-outlined text-uppercase text-white pe-none display-1">Plan Travel</h1>
                </div>
                <div class="d-flex gap-3 align-items-start">
                  <ul class="navbar-nav navbar-fotogency ms-auto text-end">
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/blog/places/">1der Places</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0 active" aria-current="page" href="/blog/forums/">Plan Yout Travel</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/blog/community/">Community</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/blog/gallery/">Gallery</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/about/">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0 mt-4 d-lg-none">
            <h1 class="text-uppercase ps-0 fs-lg-7 fs-5 fw-bolder text-300 lh-1 position-relative z-index-0">Plan Your Travel</h1>
            <h1 class="fw-bolder text-outlined ps-0 fs-lg-7 fs-sm-6 fs-5 text-white lh-1 mt-sm-n4 mt-n3 position-relative z-index--1">Your Next Destination</h1>
          </div>
        </div>
      </nav>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-3">

        <div class="container-fluid px-0">
          <div class="position-absolute w-100 border-dashed-bottom opacity-25 top-5 z-index-1"></div>
          <div class="container px-md-5">
            <div class="row g-0">
              <div class="col-lg-12 pb-6 px-0 mb-lg-0">
      
                      <div class="row align-items-center">
                        <div class="col-xl-7">
                          <div class="position-relative">
                            <div class="position-absolute start-0 bottom-0 ms-3">
                              <t><h3 class="text-white">우주 여행</h3></t>
                              <t><p class="text-white">우주비행사가 꿈이에요</p></t>
                            </div><img class="portfolio-img img-fluid" src="{% static 'blog/assets/img/portfolio/space.jpg' %}" alt="" />
                          </div>
                        </div>
                        <div class="col-xl-4 mt-4">
                          <t><p class="fs-0">
                            민간인 우주여행객, 국제우주정거장 무사 안착 <br>
                            테슬라 CEO 일론 머스크가 세운 스페이스X가 인류 역사상 처음으로 첫 민간인 우주여행이 성공했다.

 
미국 우주기업 스페이스X는 18일(현지 시각) "민간인 4명을 태운 우주선이 오후 7시 6분(한국 시각 19일 오전 8시 6분)께 플로리다주 인근 대서양에 무사히 안착했다"고 발표했다. 이 과정은 스페이스X 유튜브를 통해 생중계됐다.

 
올들어 억만장자 기업가인 리처드 브랜슨(버진 갤럭틱)과 제프 베조스(블루 오리진), 엘런 머스크(스페이스X)가 설립한 우주관광 사업 추진 기업들의 우주관광 로켓 시험발사가 잇따라 성공적으로 이루어지면서 이 사업의 주도권 경쟁도 본격화되고 있다.

 
우주관광 유인우주선 발사는 리처드 브랜슨 회장이 이끄는 버진 갤럭틱의 유인우주선 VSS 유닛이 제일 먼저 성공했다. 하지만 제프 베조스의 블루 오리진도 그 뒤를 이어 유인우주선을 우주준궤도에 올려 탑승객이 지구의 모습을 보며 무중력을 체험하도록 해 버진 갤럭틱의 성공을 무색하게 했다.

 
여기에 버진 갤럭틱은 우주에서 지구로 돌아오는 과정에서 비행항로를 이탈한 것으로 드러나 미국연방항공청(FAA)이 이를 조사하며 다음번 우주관광용 로켓 발사를 중지시켰다. 미국연방항공청의 이번 조치로 버진 갤럭틱은 비행항로 이탈과 해결방법을 찾기 전까지 우주관광 사업을 일단 보류한 상황이다.

 
우주관광 유인우주선 발사 경쟁의 첫 승자는 스페이스X 유인우주선 '인스피레이션4'가 꼽히고 있다. 우선 인스피레이션4는 전문 우주선 조종사없이 4명의 민간인 탑승자들이 조종했다. 이들은 미국우주항공국(NASA)이 제공하는 5개월간의 우주비행 프로그램을 집중적으로 교육받고 우주비행에 나섰다.

 
특히 4명의 탑승객은 지난 15일 인스피레이션4를 타고 지상에서 575km 고도까지 올라가 지구를 3일간 돌며 우주여행을 즐겼다. 반면 버진 갤럭틱의 탑승객은 고도 88km, 블루오리진은 고도 107km까지 오르는데 그쳤다.

[출처] 美國, 우주관광사업 주도권전쟁…스페이스X, 민간인 우주여행 지구귀환 성공 |작성자 서울1TV


                          </p></t>
                        </div>
                      </div>
                    </div>
                    
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    {% include 'blog/footer.html' %}



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'blog/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'blog/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'blog/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'blog/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'blog/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'blog/vendors/prism/prism.js' %}"></script>
    <script src="{% static 'blog/vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/theme.js' %}"></script>

  </body>

</html>