<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>1der Places | 세상의 모든 여행 </title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/blog/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/blog/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/blog/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/blog/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../static/blog/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../static/blog/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="{% static 'blog/vendors/prism/prism.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'blog/assets/css/user.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500;700&display=swap" rel="stylesheet">
    <style>t{
      font-family: 'Noto Sans KR', sans-serif;
    }
    </style>

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="cursor-outer d-none d-md-block"></div>
      <nav class="navbar navbar-light py-3 px-0 overflow-hidden">
        <div class="container px-md-5">
          <div class="row w-100 g-0 justify-content-between">
            <div class="col-8">
              <div class="d-inline-block"><a class="navbar-brand pt-0 fs-3 text-black d-flex align-items-center" href="/"><img class="img-fluid" src="../../static/single_pages/assets/img/icons/logo2.png" alt="" /><span class="fw-bolder ms-2">1</span><span class="fw-thin">der</span></a></div>
              <div class="mt-4 d-none d-lg-block">
                <h1 class="text-uppercase fs-lg-7 fs-5 fw-bolder text-300 lh-1 position-relative z-index-0">1der Places</h1>
                <h1 class="d-none d-md-block fw-bolder text-outlined fs-7 text-white lh-1 mt-n4 position-relative z-index--1">Places To Go</h1>
              </div>
            </div>
            <div class="col-4 d-lg-none text-end pe-0">
              <button class="btn p-0 shadow-none text-black fs-2 d-inline-block" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle offcanvas navigation"><span class="menu-bar"></span></button>
            </div>
            <div class="offcanvas offcanvas-end px-0" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasTitle" aria-hidden="true">
              <div class="offcanvas-header justify-content-end">
                <h5 class="visually-hidden offcanvas-title" id="navbarOffcanvasTitle">Menu</h5>
                <button class="btn p-0 shadow-none text-black fs-2 d-inline text-end" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="menu-close-bar"></span></button>
              </div>
              <div class="offcanvas-body px-0">
                <div class="d-lg-flex flex-center-start gap-3 overflow-hidden">
                  <ul class="navbar-nav ms-auto fs-4 ps-6">
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5 active" aria-current="page" href="/blog/palces/">1der Places</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/blog/forums/">Plan Your Travel</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/blog/community/">Community</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/blog/gallery/">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="/about/">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-none d-lg-flex justify-content-end position-relative z-index-1">
                <div class="position-absolute absolute-centered z-index--1">
                  <h1 class="ms-2 fw-bolder text-outlined text-uppercase text-white pe-none display-1">1der places</h1>
                </div>
                  <ul class="navbar-nav navbar-fotogency ms-auto text-end">
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0 active" aria-current="page" href="/blog/places/">1der Places</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/blog/forums/">Plan Yout Travel</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/blog/community/">Community</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/blog/gallery/">Gallery</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="/about/">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0 mt-4 d-lg-none">
            <h1 class="text-uppercase ps-0 fs-lg-7 fs-5 fw-bolder text-300 lh-1 position-relative z-index-0">1der places</h1>
            <h1 class="fw-bolder text-outlined ps-0 fs-lg-7 fs-sm-6 fs-5 text-white lh-1 mt-sm-n4 mt-n3 position-relative z-index--1">Places To Go</h1>
          </div>
        </div>
      </nav>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-3 position-relative">

        <div class="container-fluid px-0">
          <div class="position-absolute w-100 border-dashed-bottom opacity-25 top-5 z-index-2"></div>
          <div class="container px-md-5">
            <div class="row g-0">
              <div class="col-lg-12 pb-6 px-0 mb-lg-0">
                <div class="swiper-container swiper-theme" data-swiper='{"slidesPerView":1,"breakpoints":{"576":{"slidesPerView":1.2}},"spaceBetween":30,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"loopedSlides":3,"slideToClickedSlide":true}'>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="row align-items-xl-center">
                        <div class="col-lg-5"><img class="img-fluid w-100" src="../../static/blog/assets/img/exhibitions/newyork7.jpg" alt="" />
                          <div class="position-absolute top-5 start-5 mt-n1 d-flex flex-column align-items-center"><span class="rounded-circle bg-white p-2 d-block"></span><span class="text-white fw-bold">New York</span></div>
                        </div>
                        <div class="col-lg-6 col-xl-5 mt-4 mt-lg-0">
                          <h1 class="fw-bolder mb-3">New York, United States</h1>
                          <t><p class="text-warning fs-3 opacity-75">뉴욕, 미국</p></t>
                          <t><p class="fs-0">뉴욕은 전 세계에서 몰려드는 사람들로 항상 북적이는 곳으로 
                            먹거리, 볼거리, 즐길거리가 가득한 활기찬 도시입니다.  
                            
                            브로드 웨이에서는 매일 같이 뮤지컬 공연이 열리고, 맨해튼과 브루클린을 오가는 페리를 경험해 볼 수도 있으며, 뉴욕 한복판에서 산책을 즐길 수 있는 센트럴 파크, 쇼핑을 좋아한다면 명품 거리, 아뜰리에가 모여있는 소호까지.  
                            
                            또 뉴욕은 야경이 아름답기로 유명하죠. 전망대, 혹은 고층의 호텔이나 바를 이용한다면 멋있는 야경을 감상하실 수 있습니다.  
                            
                            뉴욕은 유동인구가 많은 곳이기에 중심가 근처라면 저녁에도 안전하게 관광을 할 수 있습니다.
                            </p></t>
                          {% comment %} <button class="btn btn-link text-warning p-0 fs-2"><span class="fw-bolder">Details </span><img class="ms-3" src="../../static/blog/assets/img/icons/long-arrow.png" alt="" /></button> {% endcomment %}
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="row align-items-xl-center">
                        <div class="col-lg-5"><img class="img-fluid w-100" src="../../static/blog/assets/img/exhibitions/tokyo033.jpg" alt="" />
                          <div class="position-absolute top-5 start-5 mt-n1 d-flex flex-column align-items-center"><span class="rounded-circle bg-white p-2 d-block"></span><span class="text-white fw-bold">Tokyo</span></div>
                        </div>
                        <div class="col-lg-6 col-xl-5 mt-4 mt-lg-0">
                          <h1 class="fw-bolder mb-3">Tokyo, Japan</h1>
                          <t><p class="text-warning fs-3 opacity-75">도쿄, 일본</p></t>
                          <t><p class="fs-0">단 두 시간의 비행으로 갈 수 있는 도쿄는, 해외에 가면 쫄쫄 굶는 한식 러버들을 위한 최적의 해외 여행지 입니다. 혼자 여행이 처음인 사람도 어렵지 않게 다닐 수 있으며, 가까운 거리로 부담이 덜 합니다. 

                            도쿄 중심가인 신주쿠에서 디즈니 랜드, 유니버셜 스튜디오가 약 한시간 거리에 위치해 있어 디즈니, 해리포터를 좋아하는 분이라면 필수 방문 코스 입니다.
                            
                            서울의 경복궁처럼 오래된 절 또한 도쿄 아사쿠사에 위치해 있습니다. 노포 감성을 즐기고 싶다면 방문해 보세요.
                            
                            쇼핑을 좋아한다면 오모테산도, 시부야에 들르는 것도 추천드립니다.
                            
                            도쿄는 세계에서 가장 안전한 도시로 손꼽히는 곳으로 안심하고 여행 할 수 있습니다.</p></t>
                          {% comment %} <button class="btn btn-link text-warning p-0 fs-2"><span class="fw-bolder">Details </span><img class="ms-3" src="../../static/blog/assets/img/icons/long-arrow.png" alt="" /></button> {% endcomment %}
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="row align-items-xl-center">
                        <div class="col-lg-5"><img class="img-fluid w-100" src="../../static/blog/assets/img/exhibitions/jeju03.jpg" alt="" />
                          <div class="position-absolute top-5 start-5 mt-n1 d-flex flex-column align-items-center"><span class="rounded-circle bg-white p-2 d-block"></span><span class="text-white fw-bold">Jeju</span></div>
                        </div>
                        <div class="col-lg-6 col-xl-5 mt-4 mt-lg-0">
                          <h1 class="fw-bolder mb-3">Jeju Island, Korea</h1>
                          <t><p class="text-warning fs-3 opacity-75">제주도, 대한민국</p></t>
                          <t><p class="fs-0">홀로 여행이 처음이라면? 제주도가 제격이에요! <br>

                            제주도는 한국이면서 이국적인 곳으로 투명하고 맑은 바다와 멋진 한라산, 맛있는 음식, 무엇보다 우리말로 소통할 수 있다는 큰 장점이 있습니다. 
                            
                            성산일출봉에서 새벽 일출을 만나고, 해수욕장에서 가만히 누워 바닷바람을 느끼거나, 오름을 오르며 예쁜 말들을 만나볼 수 있습니다.
                            
                            겨울에는 감귤, 한라봉을 직접 따보는 농장 체험도 가능합니다. 
                            신선한 제철 해산물, 제주 흑돼지도 빼놓을 수 없겠죠!</p></t>
                          {% comment %} <button class="btn btn-link text-warning p-0 fs-2"><span class="fw-bolder">Details </span><img class="ms-3" src="../../static/blog/assets/img/icons/long-arrow.png" alt="" /></button> {% endcomment %}
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="row align-items-xl-center">
                        <div class="col-lg-5"><img class="img-fluid w-100" src="../../static/blog/assets/img/exhibitions/paris03.jpg" alt="" />
                          <div class="position-absolute top-5 start-5 mt-n1 d-flex flex-column align-items-center"><span class="rounded-circle bg-white p-2 d-block"></span><span class="text-white fw-bold">Paris</span></div>
                        </div>
                        <div class="col-lg-6 col-xl-5 mt-4 mt-lg-0">
                          <h1 class="fw-bolder mb-3">Paris, France</h1>
                          <t><p class="text-warning fs-3 opacity-75">파리, 프랑스</p></t>
                          <t><p class="fs-0">낭만의 도시 파리는 누구나 한번 쯤은 여행을 꿈꾸는 도시입니다. <br>

                            에펠탑, 베르사유 궁전, 루브르를 포함한 수많은 박물관들. 거리를 걷기만 해도 곳곳에 유서깊은 건물들이 자리하고 있어 고풍적인 느낌을 자아내는 매력적인 파리는 미식가의 도시로도 유명하죠.
                            
                            에펠탑을 바라보며 센 강을 산책하고, 노천 카페에 앉아 커피와 크루아상을 즐기며 파리를 온전히 즐겨보세요.
                            
                            예술을 좋아하는 분이라면 여행 일정을 길게 잡는 것을 추천드립니다. 파리 또한 뉴욕과 같이 대도시로 유동인구가 많아 중심가 근처는 여행하기 안전합니다.</p></t>
                          {% comment %} <button class="btn btn-link text-warning p-0 fs-2"><span class="fw-bolder">Details </span><img class="ms-3" src="../../static/blog/assets/img/icons/long-arrow.png" alt="" /></button> {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-theme swiper-pagination d-flex mt-4"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    {% include 'blog/footer.html' %}


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'blog/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'blog/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'blog/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'blog/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'blog/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'blog/vendors/prism/prism.js' %}"></script>
    <script src="{% static 'blog/vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/theme.js' %}"></script>

  </body>

</html>